{% extends 'baraato/base.html' %}
{% load static %}


{% block part_2_time %}
	active
{% endblock %}

{# main #}
{% block main %}
    	<div class="part-2-main">
            <div class="text-main">
                <div class="text">زمان‌های در دسترس برای {{ company.name}}</div>
                <div class="text">لطفاً برای رزرو یک مورد را انتخاب کنید</div>
                <div class="text">برای تغییر ماه روی فلش کلیک کنید</div>
                
                {# date #}
                <div class="date">
                    <label style="display: flex; flex-direction: column">
                        {#TODO : Add data-jdp-max-date#}
                        {#<input id="test" data-jdp-miladi-input="miladi_date" data-jdp placeholder="انتخاب تاریخ" data-jdp-min-date="today">#}
                        {#<input id="miladi_date" />#}
                        <input id="test" data-jdp-miladi-input data-jdp placeholder="انتخاب تاریخ" data-jdp-min-date="today">
                    </label>
                    <br>
                    <div id="time"></div>
                </div>
                
                <div class="div">
                    <div class="divar"></div>
                    <div class="parent-btn-page2">
                        <button class="button-green"><a href="{% url 'company:list-company' %}">بازگشت</a></button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{# js #}
{% block script %}
    {#  add files  Date conversion #}
    {#https://github.com/senior-x-79/farvardin.js#}
    <script src="{% static 'date-conversion/farvardin.min.js' %}"></script>
    
    {# push data in list #}
    <script>
        let lis = []
                {% for holiday in holidays %}
                    lis.push(farvardin.gregorianToSolar({{holiday.date.year}} , {{holiday.date.month}} , {{holiday.date.day}} , "object"))
                {% endfor %}
    </script>

    {#After choosing the day#}
    <script>
        document.querySelector("[data-jdp-miladi-input]").addEventListener("jdp:change", function (e) {
        let miladiInput = document.getElementById(this.getAttribute("data-jdp-miladi-input"));
        if (!this.value) {
            miladiInput.value = "";
            return;
        }
        {# date conversion #}
        let timeslots = getTime(
            '{{ sansConfig.first.start_time|time:"H:i:s" }}',
            '{{ sansConfig.first.end_time|time:"H:i:s" }}',
            {{ sansConfig.first.duration }},
            '{{ sansHolidayDateTime.first.start_time|time:"H:i:s" }}',
            '{{ sansHolidayDateTime.first.end_time|time:"H:i:s" }}'
        );
        
        let date = this.value.split("/");
        {#miladiInput.value = farvardin.solarToGregorian(Number(date[0]), Number(date[1]), Number(date[2]), "string")#}
        
            
        let jso = farvardin.solarToGregorian(Number(date[0]), Number(date[1]), Number(date[2]), "object")
        
        {#deleteTimeToday#}
        function deleteTimeToday(day){
            let now = new Date();
        
            let year = now.getFullYear();
            let month = (now.getMonth() + 1).toString().padStart(2, '0');
            let today = now.getDate().toString().padStart(2, '0');
            let formattedDate = `${year}-${month}-${today}`;
        
            let currentHours = now.getHours().toString().padStart(2, '0');
            let currentMinutes = now.getMinutes().toString().padStart(2, '0');
            let currentSeconds = now.getSeconds().toString().padStart(2, '0');
            let currentTime = `${currentHours}:${currentMinutes}:${currentSeconds}`;
        
            if (day === formattedDate){
                timeslots = timeslots.filter(time => time > currentTime);
            }

        }
        deleteTimeToday(farvardin.solarToGregorian(Number(date[0]), Number(date[1]), Number(date[2]), "string"))
        
        
        {% for reservation in reservations %}
                if (jso.year === {{ reservation.date | date:"Y" }} && 
                    jso.month === {{ reservation.date | date:"m" }} && 
                    jso.day === {{ reservation.date | date:"d" }}
                ) {
                    timeslots = timeslots.filter(item => 
                        item !== '{{ reservation.time | time:"H:i:s" }}'
                    )
                    
                }
            {% endfor %}
        //Time
        time.innerHTML = ''
        {#TODO: Create the input section(front)#}
        for (let i = 0; i < timeslots.length; ++i) {
                let div = document.createElement('div');
                let input = document.createElement('input');
                input.className = 'form-check-input';
                input.type = 'radio';
                input.name = 'flexRadioDefault';
                input.id = `flexRadioDefault${i}`;
                input.value = timeslots[i];
        
                let label = document.createElement('label');
                label.className = 'form-check-label';
                label.htmlFor = `flexRadioDefault${i}`;
                label.innerText = timeslots[i];
        
                div.appendChild(input);
                div.appendChild(label);
                time.appendChild(div);
            }
        
        
        time.addEventListener('change', function(event) {
            if (event.target && event.target.matches('input[type="radio"]')) {
                let selectedTime = event.target.value;
                let str_miladi = farvardin.solarToGregorian(Number(date[0]), Number(date[1]), Number(date[2]), "string")
                console.log(str_miladi)
                console.log(selectedTime)
        
                let doc = document.querySelector('.part-2-main')
                doc.style.display = 'none'
        
            }
        });
    
    });
    </script>

{% endblock %}